body {
    padding-bottom: 40px;
    
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
}

div.app-caption {
    padding: 10px 0px;    
    font-size:3.0em;
    font-weight: bold;
    color:#DDD9C3;
    text-align: center;
    background:#17375E;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4),
                inset 0px -3px 1px 1px 
                rgba(204,198,197,.5);
}

form ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 5px;
}

form ul li {    
  color: red;        
}

.alert ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 5px;
}

.content {
    padding-top: 0%; 
    padding-bottom: 30px;
    /*margin: 20px auto;*/
    background: #e8e8e84a;
    border-radius: 20px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), 
                inset 0px 4px 1px 1px white, 
                inset 0px -3px 1px 1px rgba(204,198,197,.5);
}
.table{
  background: white;
}
.glyphicon,
.jumbotron {
    background: url('../img/FondoCEDNA-2.png');
    background-size: contain;
    text-align: center;
}
.jumbotron{font-family: 'Montserrat', sans-serif;}
.glyphicon {
    height: 120px;
    width: 120px;
    box-shadow: none;
    color: black;
    border: none;
}
.img-responsive {margin: 0 auto;}
#formModule label {
    text-align:center;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
    margin-top: 15px;
}
body {
    font-family: "Montserrat", sans-serif;
}
.table-striped td {
    vertical-align: middle !important;
}
table tbody td.icon-column {
    padding: 0px 8px;
}
.table {
    width: 96%;
    margin: 0.5% 2% 2% 2%;
}
.table > tbody > tr > th, .table > tbody > tr > td {
    text-align:center;
}
.navbar-fixed-bottom .col-xs-3 {text-align:center;}
.navbar-fixed-bottom button{
    background: none;
    border: none;
}
.navbar-fixed-bottom{
    background: #85c8f466;
}
h4, h1 {text-align:center;}
.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {padding:10px;}

.obligatorio {
    color: #f00;
    font-weight: bold;
    font-size: 8pt;
}

tbody tr.highlight td {
    background-color: #ccc;
}

.encabezado {
    position: absolute;
    top: 0px;
    height: 200px;
    overflow: hidden;
    left: 0px;
    right: 0px;
}

.contenido {
    position: absolute;
    top: 200px;
    bottom: 150px;
    overflow: auto;
    left: 0px;
    right: 0px;
    margin-top: 15px;
}

.footer {
    background: #85c8f466;
    position: absolute;
    bottom: 0px;
    height: 150px;
    width: 100%;
    overflow: hidden;
    left: 0px;
    right: 0px;
}

.configuracion {
    content: url('../img/boton/configuracion.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.ordenesCompras {
    content: url('../img/boton/adicionales.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.permisos {
    content: url('../img/boton/permisos.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.personal {
    content: url('../img/boton/agentes-b.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.usuarios {
    content: url('../img/boton/usuarios.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.perfiles {
    content: url('../img/boton/perfiles.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.botonVolver {
    content: url('../img/boton/volver-nuevo.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.botonNuevo {
    content: url('../img/boton/nuevo.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.botonEditar {
    content: url('../img/boton/firmas.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.botonGuardar {
    content: url('../img/boton/confirmar.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.botonEliminar {
    content: url('../img/boton/borrar.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.botonSalir {
    content: url('../img/boton/logout.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}