body {
    padding-bottom: 40px;
    
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
}

div.app-caption {
    padding: 10px 0px;    
    font-size:3.0em;
    font-weight: bold;
    color:#DDD9C3;
    text-align: center;
    background:#17375E;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4),
                inset 0px -3px 1px 1px 
                rgba(204,198,197,.5);
}

form ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 5px;
}

form ul li {    
  color: red;        
}

.alert ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 5px;
}

.content {
    padding-top: 0%; 
    padding-bottom: 30px;
    /*margin: 20px auto;*/
    background: #e8e8e84a;
    border-radius: 20px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), 
                inset 0px 4px 1px 1px white, 
                inset 0px -3px 1px 1px rgba(204,198,197,.5);
}
.table{
  background: white;
}
.glyphicon,
.jumbotron {
    background: url('../img/FondoCEDNA-2.png');
    background-size: contain;
    text-align: center;
    padding: 2rem 1rem !important;
}
.jumbotron{font-family: 'Montserrat', sans-serif;}
.glyphicon {
    height: 120px;
    width: 120px;
    box-shadow: none;
    color: black;
    border: none;
}
.img-responsive {margin: 0 auto;}
#formModule label {
    text-align:center;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
    margin-top: 15px;
}
body {
    font-family: "Montserrat", sans-serif;
}
.table-striped td {
    vertical-align: middle !important;
}
table tbody td.icon-column {
    padding: 0px 8px;
}
.table {
    width: 96%;
    margin: 0.5% 2% 2% 2%;
}
.table > tbody > tr > th, .table > tbody > tr > td {
    text-align:center;
}
.navbar-fixed-bottom .col-xs-3 {text-align:center;}
.navbar-fixed-bottom button{
    background: none;
    border: none;
}
.navbar-fixed-bottom{
    background: #85c8f466;
}
h4, h1 {text-align:center;}
.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {padding:10px;}

.obligatorio {
    color: #f00;
    font-weight: bold;
    font-size: 8pt;
}

tbody tr.highlight td {
    background-color: #ccc;
}

.encabezado {
    position: absolute;
    top: 0px;
    height: 150px;
    overflow: hidden;
    left: 0px;
    right: 0px;
}

.contenido {
    position: absolute;
    top: 150px;
    bottom: 150px;
    overflow: auto;
    left: 0px;
    right: 0px;
    margin-top: 15px;
}

.footer {
    background: #85c8f466;
    position: absolute;
    bottom: 0px;
    height: 115px;
    width: 100%;
    overflow: hidden;
    left: 0px;
    right: 0px;
}

.configuracion {
    content: url('../img/boton/configuracion.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.ordenesCompras {
    content: url('../img/boton/adicionales.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.permisos {
    content: url('../img/boton/permisos.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.notificaciones-por-perfil {
    content: url('../img/boton/notificaciones-por-perfil.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.personal {
    content: url('../img/boton/agentes-b.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.usuarios {
    content: url('../img/boton/usuarios.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.organigrama {
    content: url('../img/boton/usuarios.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.nodos {
    content: url('../img/boton/nodos.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.perfiles {
    content: url('../img/boton/perfiles.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.tareas {
    content: url('../img/boton/tareas.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.botonVolver {
    content: url('../img/boton/volver-nuevo.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.botonNuevo {
    content: url('../img/boton/nuevo.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.botonEditar {
    content: url('../img/boton/firmas.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.botonGuardar {
    content: url('../img/boton/confirmar.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.botonEliminar {
    content: url('../img/boton/borrar.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.botonSalir {
    content: url('../img/boton/logout.png');
    background-size: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.zoom{
    transition: width 0.3s, height 0.3s, transform 0.3s;
    -moz-transition: width 0.3s, height 0.3s, -moz-transform 0.3s;
    -webkit-transition: width 0.3s, height 0.3s, -webkit-transform 0.3s;
    -o-transition: width 0.3s, height 0.3s,-o-transform 0.3s;  
}

.zoom:hover{
    transform : scale(0.85);
    -moz-transform : scale(0.85);      /* Firefox */
    -webkit-transform : scale(0.85);   /* Chrome - Safari */
    -o-transform : scale(0.85);        /* Opera */
}

.NodoOrganigrama * {
    margin: 0px;
    padding: 0px;
}

.NodoOrganigrama ul {
    padding-top: 20px;
position: relative;
}

.NodoOrganigrama li {
    float: left;
text-align: center;
    list-style-type: none;
    padding: 20px 5px 0px 5px;
position: relative;
}

.NodoOrganigrama li::before, .NodoOrganigrama li::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 50%;
    border-top: 1px solid #f80;
    width: 50%;
    height: 20px;
}

.NodoOrganigrama li::after{
    right: auto;
    left: 50%;
    border-left: 1px solid #f80;
}

.NodoOrganigrama li:only-child::before, .NodoOrganigrama li:only-child::after {
    display: none;
}

.NodoOrganigrama li:only-child {
    padding-top: 0;
}

.NodoOrganigrama li:first-child::before, .NodoOrganigrama li:last-child::after{
    border: 0 none;
}

.NodoOrganigrama li:last-child::before{
    border-right: 1px solid #f80;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

.NodoOrganigrama li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.NodoOrganigrama ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #f80;
    width: 0;
    height: 20px;
}

.NodoOrganigrama li a {
    border: 1px solid #f80;
    padding: 1em 0.75em;
    text-decoration: none;
    color: #333;
    background-color: rgba(255,255,255,0.5);
    font-family: arial, verdana, tahoma;
    font-size: 0.85em;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.NodoOrganigrama li a:hover {
    border: 1px solid #fff;
    color: #ddd;
    background-color: rgba(255,128,0,0.7);
    display: inline-block;
}

.NodoOrganigrama > ul > li > a {
    font-size: 1em;
    font-weight: bold;
}

.NodoOrganigrama > ul > li > ul > li > a {
    width: 8em;
}